
/*custom scss */

.wrapper-form-container{
  margin-top:150px;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 480px;
}
.form-container{
  width: 420px;
  min-height: 480px;
  max-height: 800px;
  border: 1px solid #EDF8EE;
  padding: 20px;
}
.highlight-errors{
  color: red ;
  list-style-type: none !important;
}

label{
  color:black;
}

@media (max-width: 574px) {  
  .wrapper-form-container{
    margin-top:70px;
  }
  .form-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
}
